body {
  font-family: Arial, sans-serif;
  width: 280px;
  background-color: #e6f7ff;
  padding: 10px;
  overflow: auto;
}

hr {
  border: 0;
  height: 1px;
  background-color: #007BFF;
  margin-top: 5px;
  margin-bottom: 10px;
}

button, select, input {
  margin: 5px 0;
  padding: 5px 10px;
  border: 1px solid #007BFF;
  background-color: #007BFF;
  color: white;
  border-radius: 10px;
}
.button-row {
  display: flex;
  justify-content: right;
  margin-bottom: 10px;
}
.button-row button {
  width: 62.5%; /* Adjusted to fit two buttons side by side with a little gap */
}
.third-row button {
  width: 30%; /* Adjusted to fit three buttons side by side */
}
button:hover, select:hover, input:hover {
  background-color: #0056b3;
}
#addList {
  width: 100%;
}
#newListName {
  max-width: 54.5%;
}

input[type="text"] {
  background-color: white;
  color: black;
  width: 92.5%;
}

#existingLists {
  display: inline-block;
  width: 35%;
  max-width: 35%;
  margin-right: 1%;
}
#comment {
  width: 54.5%;
  max-width: 60%;
}

footer {
  text-align: center;
}
#footerLinks {
  margin-top: 10px;
  font-size: 0.8em;
}
#footerLinks a {
  color: #007BFF;
  text-decoration: none;
}
#footerLinks a:hover {
  text-decoration: underline;
}

#addStar, #addQuestion {
  width: 15%;
  height: 40px;
  padding: 0;
}
.importance {
  background-color: #007BFF;
  margin-right: 3%;
}
img {
  max-width: 100%;
  max-height: 100%;
}

#searchProfile {
  margin-top: 10px;
}
#profileList {
  max-height: 150px; /* Adjust as needed */
  overflow-y: scroll;
  border: 1px solid #007BFF;
  margin-top: 5px;
  padding: 5px;
}
.profileItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.profileLinkBtn {
  margin-left: 10px;
  background-color: #007BFF;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}
.profileLinkBtn:hover {
  background-color: #0056b3;
}

.profileItem {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically aligns the items in the center */
  margin-bottom: 5px; /* Add some space between profile items */
}
.profileItem span {
  display: block; /* Make the span a block element */
  margin-bottom: 5px; /* Add some space below the profile name */
}
.profileItem .profileActions {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.profileItem .profileActions button:not(:last-child) {
  margin-right: 5px; /* Add some space between the buttons */
}

.profileNameLink {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  max-width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.profileNameLink:hover {
  text-decoration: underline;
}


.statusBtn {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #e0e0e0;
  transition: background-color 0.3s;
  color: #007BFF; /* Blue text for non-active filter buttons */
}
.statusBtn:hover {
  background-color: #c0c0c0;
}
.statusBtn.active {
  background-color: #007BFF;
  color: white;
}
.statusBtn.reviewLater {
  padding: 5px 5px; /* Minimal padding */
  font-size: 0.9em; /* Slightly smaller font size */
}
.statusBtn img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.filterDiv {
  display: flex;
  justify-content: flex-end;
}
.filterDiv button {
  background-color: #e0e0e0; /* Light gray for non-active filter buttons */
  color: #007BFF; /* Blue text for non-active filter buttons */
  margin-right: 10px;
}
.filterDiv button:last-child {
  margin-right: 5px;  /* ensures the last button doesn't have extra margin on the right */
}
.filterDiv button:hover {
  background-color: #c0c0c0; /* Darker gray for hover effect on filter buttons */
}
/* CSS for the filter buttons' images */
.filterButton img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}


/* Improve the popup of the donation button */
a[title]:hover:after {
    content: attr(title);
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: pre-wrap; /* Allows line breaks in the tooltip */
    max-width: 200px; /* Set a maximum width for the tooltip */
    z-index: 1000;
    text-align: center; /* Center align the text */
}


.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.tooltip-text {
  visibility: hidden;
  width: 220px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position the tooltip above the link */
  left: 50%;
  margin-left: -110px; /* Half of the tooltip's width */
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
  transition-delay: 0.5s; /* Delay of 0.5 second */
}
.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
.tooltip-text::before {
  content: attr(data-tooltip);
}


.profileItem {
  display: flex;
  justify-content: space-between; /* This will push the profile link to the left and the button container to the right */
  align-items: center; /* This will vertically center align items if they have different heights */
}

.buttonContainer {
  display: flex;
}
